<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>💛</title>
    <%= stylesheet_link_tag "main" %>
  </head>
  <body>
    <main role="main" class="container">
      <aside class="side-nav">
        <h1><%= link_to "Ricardo Rojas", "/"%></h1>
        <p>Join me on a journey through space and time</p>

        <ul>
          <% blog.tags.each do |tag, articles| %>
          <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
          <% end %>
        </ul>
        <hr>
        <ul>
          <li><%= link_to "About me", "/about.html" %></li>
        </ul>
      </aside>
       <section class="post-container">
        <%= yield %>
      </section>
    </main>
    <%= partial "partials/analytics" %>
  </body>
</html>
